Makefile
etc/Makefile
ext/Makefile
ext/control/Makefile
ext/image/Makefile
ext/mywins/Makefile
ext/res/Makefile
ext/skin/Makefile
vcongui/Makefile
*.lo
*.la
src/.libs
src/*/.libs
src/*/*/.libs
config.h
config.log
config.status
configs/Makefile
include/Makefile
libtool
m4/Makefile
scripts/Makefile
scripts/lxdialog/Makefile
src/.deps/
src/Makefile
src/client/.deps/
src/client/Makefile
src/control/.deps/
src/control/Makefile
src/font/.deps/
src/font/Makefile
src/font/in-core/.deps/
src/font/in-core/Makefile
src/gal/.deps/
src/gal/Makefile
src/gal/native/.deps/
src/gal/native/Makefile
src/gdi/.deps/
src/gdi/Makefile
src/gui/.deps/
src/gui/Makefile
src/ial/.deps/
src/ial/Makefile
src/ial/native/.deps/
src/ial/native/Makefile
src/ime/.deps/
src/ime/Makefile
src/include/Makefile
src/include/control/Makefile
src/kernel/.deps/
src/kernel/Makefile
src/main/.deps/
src/main/Makefile
src/misc/.deps/
src/misc/Makefile
src/mybmp/.deps/
src/mybmp/Makefile
src/newgal/.deps/
src/newgal/Makefile
src/newgal/dummy/.deps/
src/newgal/dummy/Makefile
src/newgal/ecoslcd/.deps/
src/newgal/ecoslcd/Makefile
src/newgal/fbcon/.deps/
src/newgal/fbcon/Makefile
src/newgal/qvfb/.deps/
src/newgal/qvfb/Makefile
src/newgdi/.deps/
src/newgdi/Makefile
src/server/.deps/
src/server/Makefile
src/standalone/.deps/
src/standalone/Makefile
src/sysres/.deps/
src/sysres/Makefile
stamp-h1
